<section id="section-contact" [@sectionState]>
  <header>
    <span class="header-icon"><i class="fas fa-book fa-fw"></i></span><h1 class="header-title">Contato</h1>
  </header>
  <div class="section-body">
    <div id="contact-container">
      <ul class="contact-list">
        <li>
          <div class="icon"><i class="far fa-envelope"></i></div>
          <p class="name">Email</p>
          <p class="description">eng_cadu@hotmail.com</p>
        </li>
        <li>
          <div class="icon"><i class="fab fa-whatsapp"></i></div>
          <p class="name">WhatsApp</p>
          <p class="description">(84) 9 8740-4714</p>

        </li>
        <li>
          <div class="icon"><i class="fab fa-linkedin-in"></i></div>
          <p class="name">LinkedIn</p>
          <p class="description">linkedin.com/in/lucas-vasconcelos-50448189/</p>
        </li>
        <li>
          <div class="icon"><i class="fab fa-github"></i></div>
          <p class="name">GitHub</p>
          <p class="description">github.com/lucasesv</p>
        </li>
      </ul>
    </div>
  </div>
</section>