.name {
  /* flex: 45%; */
}

.knowledge {
  /* flex: 55%; */
  /* width: 100%; */
  display: flex;
  align-items: center;
}

.knowledge .progress-bar {
  width: 80%;
  background-color: #6b6b6b;
}

.knowledge .progress-bar .progress {
  height: 12px;
  background-color: #27c74f;
}

.knowledge .progress-bar .progress.w10 {
  width: 10%;
}

.knowledge .progress-bar .progress.w20 {
  width: 20%;
}

.knowledge .progress-bar .progress.w30 {
  width: 30%;
}

.knowledge .progress-bar .progress.w40 {
  width: 40%;
}

.knowledge .progress-bar .progress.w50 {
  width: 50%;
}

.knowledge .progress-bar .progress.w60 {
  width: 60%;
}

.knowledge .progress-bar .progress.w70 {
  width: 70%;
}

.knowledge .progress-bar .progress.w80 {
  width: 80%;
}

.knowledge .progress-bar .progress.w90 {
  width: 90%;
}