<section id="section-skills" [@sectionState]>
  <header>
    <span class="header-icon"><i class="fas fa-book fa-fw"></i></span><h1 class="header-title">Skills</h1>
  </header>
  <div class="section-body">
    <div id="skills-container">
      <ul id="skills-menu">
        <li (click)="showSkills('Profissionais')" [ngClass]="{'active': (activeSkill === 'Profissionais')}"><i class="fas fa-code"></i> Profissionais</li>
        <li (click)="showSkills('Pessoais')" [ngClass]="{'active': (activeSkill === 'Pessoais')}"><i class="fas fa-user"></i> Pessoais</li>
      </ul>
      <div id="skill-types">
        <div class="skill-type" (click)="showSkills('Profissionais')" [ngClass]="{'background-effect': (activeSkill !== 'Profissionais')}">
          <h3><i class="fas fa-code"></i> Profissionais</h3>
          <ul class="skill-list">
            <li *ngFor="let skill of hardSkills">
              <lesv-skill [skill]="skill"></lesv-skill>
            </li>
          </ul>
        </div>
        <div class="skill-type" (click)="showSkills('Pessoais')" [ngClass]="{'background-effect': (activeSkill !== 'Pessoais')}">
          <h3><i class="fas fa-user"></i> Pessoais</h3>
          <ul class="skill-list">
            <li *ngFor="let skill of softSkills">
              <lesv-skill [skill]="skill"></lesv-skill>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>