<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="site-wrapper">
    <header>
      <div class="avatar">
        <!-- <img src="../assets/images/foto_lucas.png" alt="Lucas Vasconcelos"> -->
        <img src="../assets/images/photo3.jpg" alt="Lucas Vasconcelos">
        <!-- <div class="photo"></div> -->
      </div>
      <section class="profile">
        <h3 class="title">
          <span>PERFIL</span>
          <hr>
        </h3>
        <p>{{profile.description}}</p>
      </section>
      <section class="personal-info">
        <div class="name-wrapper">
          <h3 class="name">LUCAS VASCONCELOS</h3>
          <span class="role">Analista de Sistemas</span>
        </div>
        <ul class="infos">
          <li class="address"><span class="icon"><i class="fas fa-map-marker-alt"></i></span>Rua Presidente Quaresma, 954, Alecrim, Natal/RN</li>
          <li class="email"><span class="icon"><i class="fas fa-envelope-square"></i></span>eng_cadu@hotmail.com</li>
          <li class="whatsapp"><span class="icon"><i class="fab fa-whatsapp-square"></i></span>84 9 8740-4714</li>
          <li class="github"><span class="icon"><i class="fab fa-github-square"></i></span><a href="https://github.com/lucasesv">https://github.com/lucasesv</a></li>
          <li class="linkedin"><span class="icon"><i class="fab fa-linkedin"></i></span><a href="https://www.linkedin.com/in/lucas-vasconcelos-50448189/">https://www.linkedin.com/in/lucas-vasconcelos-50448189/</a></li>
        </ul>
      </section>
    </header>

    <div class="content-wrapper">
      <div class="career">
        <section>
          <h3 class="title">
            <span>EXPERIÊNCIA</span>
            <hr>
          </h3>
          <ul class="career-list">
            <li *ngFor="let experience of experiences">
              <div class="job">
                <span class="role">{{experience.role}}</span>
                <span class="date">{{experience.period}}</span>
              </div>
              <div class="job-details">
                <span class="company">{{experience.company}}</span>
                <p class="description">{{experience.description}}</p>
              </div>
            </li>
          </ul>
        </section>
        <section>
          <h3 class="title">
            <span>EDUCAÇÃO</span>
            <hr>
          </h3>
          <ul class="career-list">
            <li *ngFor="let education of education">
              <div class="job">
                <span class="role">{{education.role}}</span>
                <span class="date">{{education.period}}</span>
              </div>
              <div class="job-details">
                <span class="company">{{education.company}}</span>
                <p class="description">{{education.description}}</p>
              </div>
            </li>
          </ul>
        </section>
      </div>
      <div class="skills">
        <section>
          <h3 class="title">HARD SKILLS</h3>
          <ul class="skills">
            <li *ngFor="let skill of hardSkills">
              <div class="name">{{skill.name}}</div>
              <div class="knowledge">
                <div class="progress-bar">
                  <div class="progress w{{skill.knowledge}}"></div>
                </div>
              </div>
            </li>
          </ul>
        </section>
        <section>
          <h3 class="title">SOFT SKILLS</h3>
          <ul class="skills">
            <li *ngFor="let skill of softSkills">
              <div class="name">{{skill.name}}</div>
              <div class="knowledge">
                <div class="progress-bar">
                  <div class="progress w{{skill.knowledge}}"></div>
                </div>
              </div>
            </li>
          </ul>
        </section>
        <section>
          <h3 class="title">HOBBIES</h3>
          <ul class="hobbies">
            <li *ngFor="let hobby of hobbies">
              <i class="icon {{hobby.faIcon}}"></i>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</body>
</html>