<header id="site-header" [ngClass]="{'menu-opened': menuOpened}">
  
  <nav id="site-menu" [ngClass]="{'menu-opened': menuOpened}">
    <div class="menu-title" (click)="onOpenMenu()">
      <div class="icon">
        <div class="h-bar"></div>
        <div class="h-bar"></div>
        <div class="h-bar"></div>
        <div class="h-bar"></div>
        <!-- <i class="fas fa-bars"></i> -->
      </div>
      <p class="title">Lucas Vasconcelos</p>
    </div>
    <ul>
      <li (click)="onChangeSection('about-me')">
        <i class="menu-icon fas fa-user fa-fw"></i>
        <span class="menu-caption">Sobre mim</span>
      </li>
      <li (click)="onChangeSection('graduation')">
        <i class="menu-icon fas fa-graduation-cap fa-fw"></i>
        <span class="menu-caption">Formação</span>
      </li>
      <li (click)="onChangeSection('experience')">
        <i class="menu-icon fas fa-briefcase fa-fw"></i>
        <span class="menu-caption">Experiência</span>
      </li>
      <li (click)="onChangeSection('skills')">
        <i class="menu-icon fas fa-book fa-fw"></i>
        <span class="menu-caption">Skills</span>
      </li>
      <li (click)="onChangeSection('contact')">
        <i class="menu-icon fas fa-envelope fa-fw"></i>
        <span class="menu-caption">Contato</span>
      </li>
      <li class="divider"></li>
      <li>
        <i class="menu-icon fas fa-file-pdf fa-fw"></i>
        <a href="/assets/downloads/lucas-vasconcelos-curriculo.pdf" target="_blank" class="menu-caption">Versão em PDF</a>
      </li>
    </ul>
  </nav>
  
</header>

<main>
  <div id="section-container">
    
    <section id="section-about-me" *ngIf="activeSection == 'about-me'" [@sectionState]>
      <header>
        <span class="header-icon"><i class="fas fa-user fa-fw"></i></span><h1 class="header-title">Sobre mim</h1>
      </header>
      <div class="section-body">
        <div class="my-info">
          <img class="my-picture" src="/assets/images/lucas.jpg">
          <div class="personal-info">
            <ul>
              <li><span class="field">Nome</span><span class="value">Lucas Vasconcelos</span></li>
              <li><span class="field">Idade</span><span class="value">32 anos</span></li>
              <li><span class="field">Naturalidade</span><span class="value">Natal/RN</span></li>
              <li><span class="field">Telefone</span><span class="value">84 9 8740-4714</span></li>
              <li><span class="field">E-mail</span><span class="value">eng_cadu@hotmail.com</span></li>
              <li><span class="field">Idiomas</span><span class="value">Portugês e Inglês</span></li>
            </ul>
          </div>
        </div>
        <div class="text">
          <h1>Prazer, Lucas Vasconcelos</h1>
          <p>Olá! Tudo bem? Sou Lucas Vasconcelos, tenho 32 anos e moro em minha cidade "Natal" (o nome da cidade é Natal mesmo, desculpe o trocadilho rs). Pai solteiro de uma linda garotinha de apenas 3 anos, sou uma pessoa extremamente bem humorada e prezo sempre por um clima leve e agradável. Além disso, minha personalidade também possui uma pitada de perfeccionismo, organização e inovação.</p>
          
          <h1>Falando de profissão...</h1>
          <p>Ainda no ensino médio, tive meu primeiro contato com o mundo do software desenvolvendo um sistema para controle de oficina e estoque (Delphi 7) e emissão de NF-e (Java). Após a graduação, atuei no meio acadêmico por alguns anos e também implementei um projeto piloto para gestão de restaurantes. Atualmente, sou Analista de Sistemas e trabalho com um software acadêmico utilizado por diversas Instituições de Ensino Superior em todo o Brasil.</p>

          <h1>Hobbies</h1>
          <p>Adoro asssitir a um bom espetáculo de stand-up e improviso (recomendo a Cia. Barbixas de Humor). Filmes e andar de patins (especialmente de madrugada) completam meu top 3. Além disso, adoro ouvir músicas e praticar esportes, como tênis, tênis de mesa e futebol.</p>
        </div>
      </div>
    </section>
    
    
    <section id="section-graduation" *ngIf="activeSection == 'graduation'" [@sectionState]>
      <header>
        <span class="header-icon"><i class="fas fa-graduation-cap fa-fw"></i></span><h1 class="header-title">Formação</h1>
      </header>
      <div class="section-body">
        <div id="graduation-container">
          <div class="graduation-item">
            <div class="front">
              <h1 class="course">Curso de Programador Trainee (Delphi)</h1>
              <span class="institution">SIC Informática</span>
              <p class="period"><i class="far fa-calendar-alt"></i> 2005</p>
            </div>
            <div class="back">
              <p class="description">Iniciação em programação com ênfase em MS Access e Delphi 7</p>
            </div>
          </div>
          <div class="graduation-item">
            <div class="front">
              <h1 class="course"><strong>Laureado</strong> no Curso Técnico de Manutenção de Computadores</h1>
              <span class="institution">IFRN</span>
              <p class="period"><i class="far fa-calendar-alt"></i> 2007</p>
            </div>
            <div class="back">
              <p class="description">Montagem e manutenção de computadores e introdução à infraestrutura de redes.</p>
            </div>
          </div>
          <div class="graduation-item">
            <div class="front">
              <h1 class="course">Graduação em Engenharia de Computação</h1>
              <span class="institution">UFRN</span>
              <p class="period"><i class="far fa-calendar-alt"></i> 2013</p>
            </div>
            <div class="back">
              <p class="description">Engenharia de Computação com ênfase em Automação Industrial</p>
            </div>
          </div>
          <div class="graduation-item">
            <div class="front">
              <h1 class="course">Angular - The Complete Guide</h1>
              <span class="institution">Udemy | Maximilian Schwarzmüller</span>
              <p class="period"><i class="far fa-calendar-alt"></i> 2019</p>
            </div>
            <div class="back">
              <p class="description">Master Angular 10 (formerly "Angular 2") and build awesome, reactive web apps with the successor of Angular.js</p>
            </div>
          </div>
          <div class="graduation-item">
            <div class="front">
              <h1 class="course">Microsserviços com Springboot</h1>
              <span class="institution">Udemy | in28Minutes</span>
              <p class="period"><i class="far fa-calendar-alt"></i> 2020</p>
            </div>
            <div class="back">
              <p class="description">Iniciando no mundo de microsserviços com Spring Boot e Spring Cloud</p>
            </div>
          </div>
          <div class="graduation-item">
            <div class="front">
              <h1 class="course">Full Cycle Developer</h1>
              <span class="institution">Code.education (School of Net)</span>
              <p class="period"><i class="far fa-calendar-alt"></i> 2020 (Em andamento)</p>
            </div>
            <div class="back">
              <p class="description">Full Cycle Developer: da arquitetura de microserviços ao monitoramento em produção</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <lesv-skills *ngIf="activeSection == 'skills'"></lesv-skills>
    
    <section id="section-experience" *ngIf="activeSection == 'experience'" [@sectionState]>
      <header>
        <span class="header-icon"><i class="fas fa-book fa-fw"></i></span><h1 class="header-title">Experiência</h1>
      </header>
      <div class="section-body">
        <div id="experience-container">
          <div id="timeline-container">
            <div id="timeline"></div>
            <div class="timeline-content">
              <div class="experience-item">
                <h1 class="company">UFRN</h1>
                <p class="period">2013 - 2013</p>
                <p class="description"><strong>Estágio</strong> em análise de protocolos de comunicação em ambientes industriais.</p>
                <div class="marker"></div>
                <div class="arrow"></div>
              </div>
              <div class="experience-item">
                <h1 class="company">UFRN</h1>
                <p class="period">2014 - 2014</p>
                <p class="description"><strong>Pesquisa Científica</strong> sobre protocolos de comunicação via rede elétrica.</p>
                <div class="marker"></div>
                <div class="arrow"></div>
              </div>
              <div class="experience-item">
                <h1 class="company">UFRN</h1>
                <p class="period">2015 - 2016</p>
                <p class="description"><strong>Engenheiro Supervisor</strong> em projeto de desenvolvimento de software para autocalibração de equipamentos.</p>
                <div class="marker"></div>
                <div class="arrow"></div>
              </div>
              <div class="experience-item">
                <h1 class="company">Instituto Metrópole Digital - UFRN</h1>
                <p class="period">2015 - 2016</p>
                <p class="description"><strong>Tutor</strong> em diversas turmas do Curso Técnico em Tecnologia da Informação.</p>
                <div class="marker"></div>
                <div class="arrow"></div>
              </div>
              <div class="experience-item">
                <h1 class="company">CTGAS-ER</h1>
                <p class="period">2016 - 2017</p>
                <p class="description"><strong>Professor e Tutor</strong> em turma de Curso Técnico de Automação Industrial.</p>
                <div class="marker"></div>
                <div class="arrow"></div>
              </div>
              <div class="experience-item">
                <h1 class="company">ESIG Software & Consultoria</h1>
                <p class="period">2018 - Atual</p>
                <p class="description"><strong>Analista de Sistemas</strong> executando manutenção corretiva e evolutiva em sistemas acadêmicos</p>
                <div class="marker"></div>
                <div class="arrow"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <lesv-contact *ngIf="activeSection == 'contact'"></lesv-contact>

  </div>
  
  <div class="loading-bar" *ngIf="isLoading">
    <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
  </div>
</main>
